body {
  background-image: url("https://static2.wikia.nocookie.net/bobsburgerpedia/images/5/50/Wiki-background");
}
.title {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  color: #fc2420;
  background-color:#ffff07;
  padding: 20px;
}